.container {
  text-align: left;
  height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.sticky {
  position: fixed;
  top: 11%;
  right: 3%;
  display: flex;
  justify-content: end;

  @media screen and (max-width: 768px) {
    position: sticky;
    top: 0;
    font-size: 0.8rem;
    width: 100%;
  }
}

.actionWrapper {
  background-color: var(--action-bg_color);
  opacity: .5;
  width: 21rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  // margin: 1rem 0;

  @media screen and (max-width: 768px) {
    width: 100%;
    padding: 0.5rem;
  }

  &:hover {
    opacity: 1
  };
}

.actionContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.logoWrapper {
  max-width: 250px;
  height: 150px;
}

.image {
  max-height: 100%;
  object-fit: contain;
  max-width: 100%;
}

.place {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0.5rem 0;

  // text-align: left;
}

.plaseImageWrapper {
  height: 150px;
  max-width: 350px;
  display: flex;
  align-items: center;
}

.aidaItem {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.aidaTitle {
  margin: 1rem 0;
}

@media screen and (max-width: 600px) {
  .place {
    display: grid;
  }
}