.place {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    // text-align: left;
}

.container {
    text-align: left;
    height: 80vh;
    overflow: auto;
}

.actionWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin: 1rem 0;
}

.actionContainer {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.logoWrapper {
    // width: 150px;
    height: 150px;    
}

.image {
    height: 100%;
    object-fit: fill;
}

.plaseImageWrapper {
    height: 150px;
    width: auto;
    // overflow: hidden;
}

.aidaItem {
    margin: 1rem 0;
}