* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: 1s cubic-bezier(.05, .5, 0, 1);
  /* --move-x: calc((clientX - window.innerWidth / 2) * -0.005)deg; */
  /* --move-y: calc((clientY - window.innerHeight / 2) * -0.01)deg */
}

/* @font-face {
  font-family: kamerik-3d;
  src: url(fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: merriweather-italic-3d;
  src: url(fonts/merriweather-regular-italic.woff2);
} */

body {
  background-color: black;
  color: white;
  
}

.logo {
  --logo-sixe: calc(var(--index) * 8);
  width: var(--logo-sixe);
  height: var(--logo-sixe);
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 10%;
  z-index: 1;
  transform: translateX(-50%);
}

#layers {
  perspective: 1000px;
  overflow: hidden;
  color: wheat;

}

#layers__container {
  height: 100dvh;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: background-image;

}

.layers__item {
  position: absolute;
  inset: -5vw;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#layer-1 {
  will-change: transition;
  /* background-image: url(../img/soccer-field-5.jpg); */
  transform: translateZ(-50px) scale(1.10);
  transition: background-image 3s;

}

#layer-2 {
  background: 
  url(../img/layer-2.png) no-repeat 80% 90%,
  url(../img/layer-2.png) no-repeat 20% 90%;
  transform: translateZ(140px) ;
  background-size: 8%;
}

#layer-3 {
  transform: translateZ(180px) scale(0.8);
  
}

#layer-4 {
  transform: translateZ(190px) scale(0.9);
}

#layer-5 {
  background:
    url(../img/arsen-2.png) 10% 100%,
    url(../img/alex-2.png) 25% 100%,
    url(../img/fun-5.png) 37% 100%,
    url(../img/stas-4.png) 50% 100%,
    url(../img/ira.png) 63% 100%,
    url(../img/karina-3.png) 75% 100%,
    url(../img/fun-6.png) 85% 100%,
    url(../img/fun-4.png) 58% 100%;
  transform: translateZ(350px) scale(0.8);
  background-size: 15%, 14%, 11%, 18%, 9%, 14%, 10.5%, 10.5%;
  background-repeat: no-repeat;
}

#layer-6 {
  background-image: url(../img/layer-6.png);
  transform: translateZ(380px);
}

#hero-content {
  font-size: calc(var(--index) * 3);
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  background-color: rgba(10, 53, 33, 0.4);
  padding: .8rem 2rem;
  border-radius: 5rem;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;

}

#hero-content span {
  display: block;
}

#hero-content__p {
  text-transform: none;
  font-family: "Dancing Script", sans-serif;
  font-style: italic;
  font-size: calc(var(--index) * 1.5);
  line-height: 3;
}

.button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * .7);
  border: 2px rgba(255, 255, 255, 0.5) solid;
  background: transparent;
  border-radius: 3rem;
  color: wheat;
  padding: 1rem 2rem;
  cursor: pointer;
  display: block;
  width: 15rem;
}

#layer-4,
#layer-5,
#layer-6 {
  pointer-events: none;
}