.filters {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
}

.filter {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.title {
    font-weight: bold;
    background-color: lightblue;
    padding: 0.5rem 0;
}

.teamRow {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;

    &:hover {
        background-color: lightgrey;
        cursor: pointer;
    }
}

.teamLogo {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.input {
    padding: 0.25rem 0.5rem;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;  
    gap: 1rem;     
    margin: 1rem;
}

.conferenceTabs {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    // width: 100vw;
    font-weight: bold;
    font-size: 1.2rem;
}

.conferenceBtn {
    background-color: gray;
    color: white;

    &.active {
        background-color: darkgoldenrod;
    }

    &:hover {
        background-color: lightgray;
        color: darkblue;
    }
}