.filters {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
    border-bottom: 3px var(--secondary-bg_color) double;
}

.filter {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.title {
    font-weight: bold;
    background-color: lightblue;
    padding: 0.5rem 0;
}

.teamRow {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;

    &:hover {
        background-color: lightgrey;
        cursor: pointer;
    }

    &.active {
        background-color: var(--secondary-bg_color);
    }
}

.teamLogo {
    max-height: 50px;
    width: 50px;
    object-fit: contain;
}

.input {
    padding: 0.25rem 0.5rem;
}

.mainContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin: 1rem;
}

.mainWrapper {
    display: grid;
    grid-template-columns: 1fr clamp(100px, 15vw, 300px);
    height: 90vh;
    overflow: hidden;
}

.conferenceTabs {
    display: flex;
    // justify-content: flex-start;
    gap: 1rem;
    // padding: 1rem;
    // width: 100vw;
    font-weight: bold;
    font-size: 1.2rem;
}

.conferenceBtn {
    background-color: darkseagreen;
    color: white;

    &.active {
        background-color: darkgoldenrod;
    }

    &:hover {
        background-color: lightgray;
        color: darkblue;
    }
}

.advertising {
    border-left: 2px solid var(--secondary-bg_color);
    height: 100%;
    padding: 0.5em 1em;
    height: 90vh;
    overflow: hidden;
}

.teamsWrapper {
    height: 80vh;
    overflow-y: auto;
}