.button-container {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    font-size: 0.8rem;
}

.menu {
    display: none;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0.5em;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-template-columns: auto 1fr 
    // text-align: left;
    // color: darkblue;    
}

.mainTitle {
    font-size: 2rem;
    font-weight: bold;
}

.headerContainer {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--secondary-bg_color);
    height: 5vh;    

  }