.button-container {
    display: flex;
    justify-content: center;
    column-gap: 0.5rem;
    font-size: 0.8rem;
}

.menu {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    color: darkblue;
}

.headerContainer {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: darkseagreen;
    
}