#mainWrapper {
    display: grid;
    // grid-template-columns: 1fr clamp(100px, 15vw, 300px);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 3px var(--secondary-bg_color) double;
}

#filters {
    // padding: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: flex-start;
    align-items: center;
    height: 5vh;
    
}

#conferenceTabs {
    display: flex;
    // justify-content: flex-start;
    gap: 1rem;
    // padding: 1rem;
    // width: 100vw;
    font-weight: bold;
    font-size: 1.2rem;
}

.conferenceBtn {
    background-color: darkseagreen;
    color: white;

    &.active {
        background-color: darkgoldenrod;
    }

    &:hover {
        background-color: lightgray;
        color: darkblue;
    }
}

#aditionalFilters {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;

    & .filter {
        display: flex;
        gap: .5rem;
        align-items: center;
    }
}



.title {
    font-weight: bold;
    background-color: lightblue;
    padding: 0.5rem 0;
}

.input {
    padding: 0.25rem 0.5rem;
}

#mainContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 1rem;
    margin: 1rem;
}

#advertising {
    border-left: 2px solid var(--secondary-bg_color);
    padding: 0.5em 1em;
    overflow: hidden;
}

#teamsWrapper {
    height: 90vh;
    overflow-y: auto;
}

.teamRow {
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;

    &:hover {
        background-color: lightgrey;
        cursor: pointer;
    }

    &.active {
        background-color: var(--secondary-bg_color);
    }
}

.teamLogo {
    max-height: 50px;
    width: 50px;
    object-fit: contain;
}

.navBtn {
    background: none;
    border: none;
    outline: none;
    color: green;
    cursor: pointer;
    font-weight: bold;
    display: none;
}

@media screen and (max-width: 1100px) {
    #mainWrapper {
        display: block;
        height: auto;
        min-width: 350px;

        overflow: visible;
    }

    #advertising {
        display: none;
    }

    #filters {
        flex-direction: column;
        gap: 0.5rem;
        height: auto;
        border-bottom: 1px var(--secondary-bg_color) solid;
        align-items: flex-start;
    }

    #mainContainer {
        grid-template-columns: auto;
        gap: 0.5rem;
        margin: 0.5rem;
        min-width: 350px;

    }

    #aditionalFilters {
        display: none;
    }

    .navBtn {
        display: block;
    }
}