#main {
  width: 100%;
  min-width: 350px;
  min-height: 100vh;  
  color: var(--text_color);
  background-color: var(--primary-bg_color);
  transition: background-color 0.3s ease;
}

.theme-button {  
  background: no-repeat var(--theme-btn-img) center/contain;
  height: 2rem;
  width: 2rem;
  
}
