  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    // color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html[data-theme='light'] {
    --text_color: #1a1a1a;
    --primary-bg_color: whitesmoke;
    --secondary-bg_color: lightgreen;
    --action-bg_color: lightgray;
    --button_color: whitesmoke;
    --button_background_color: darkgreen;
    --theme-btn-img: url("/assets/moon.svg");
    --theme-btn-title: "Switch to dark theme";
    --btn_title: "Dark";
    --link-color: blue;
    --link-hover: dodgerblue;
    color-scheme: light;
  }

  html[data-theme='dark'] {
    --text_color: whitesmoke;
    --primary-bg_color: #3b3b3b;
    --secondary-bg_color: darkgreen;
    --action-bg_color: gray;
    --background_color: #1a1a1a;
    --button_color: #1a1a1a;
    --button_background_color: lightgray;
    --theme-btn-img: url("/assets/sun.svg");
    --theme-btn-title: "Switch to light theme";
    --btn_title: 'Light';
    --link-color: gold;
    --link-hover: lightgoldenrodyellow;
    color-scheme: dark;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 500;
    color: var(--link-color);
    text-decoration: inherit;

    &:hover {
      color:  var(--link-hover);
    }
  }
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 600;
    font-family: inherit;
    cursor: pointer;
    color: var(--button_color);
    background-color: var(--button_background_color);
    transition: all 0.3s ease-in;


    :focus,
    :focus-visible {
      border: none;
      outline: none;
    }
  }