  :root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    // color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  html[data-theme='light'] {
    --text_color: #242424;
    --background_color: rgba(255, 255, 255, 0.87);
    --button_color: lightgray;
    --button_background_color: #242424;
    --btn_title: "Dark";
    --btn_image: "url('./assets/sun.png')";
    color-scheme: light;
  }

  html[data-theme='dark'] {
    --text_color: rgba(255, 255, 255, 0.87);
    --background_color: #242424;
    --button_color: #1a1a1a;
    --button_background_color: lightgray;
    --btn_title: 'Light';
    --btn_image: "url('./assets/sun.png')";
    color-scheme: dark;
  }

  * {
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }

  a:hover {
    color: #535bf2;
  }

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }

  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;

    color: var(--button_color);
    background-color: var(--button_background_color);
    transition: all 0.5s ease-in;


    :focus,
    :focus-visible {
      border: none;
      outline: none;
    }
  }